* {
    background-color: black;
    color: aqua;
    margin: 0;
    padding: 0;
}

.nav {  
      display: inline;
} 

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
   
}

.nav li a {
    font-size: 20px;
    color: white;
    display: block;
    line-height: 55px; 
    padding: 0px 20px ; 
    text-decoration: none; 
    font-family: 'Crimson Text', serif;
}

/* .nav li a:hover{
    background-color: rgb(158, 157, 157);
} */
 
#search_text{
    width: 200px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: rgb(10, 10, 10);
    outline: none; 
    background:rgb(251, 250, 250);
    float:left;
    box-sizing: border-box;
}

#search_button {
    border: 0 none;
    background: white url(./images/icons8-google-web-search-50.png) center no-repeat; 
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    
}

#option a{
    border-left: 0 none;
}

.subnav {
    visibility: hidden;
    position: absolute; 
    right: 0;
}
.subnav li {
    float: none;
}

#options:hover .subnav{
    visibility: visible;
    top: 100%;
   
}

